body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header nav a {
    color: white;
    text-decoration: none;
}
img {
    width: 20%;
}